@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
  themes: light --default;
}
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
* {
  /* font-family: "Work Sans", sans-serif; */
  font-family: "Lato", sans-serif;
}
.comfortaa {
  font-family: "Comfortaa", sans-serif;
}
