@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

* {
  /* font-family: "Work Sans", sans-serif; */
  font-family: "Lato", sans-serif;
}
.comfortaa {
  font-family: "Comfortaa", sans-serif;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Apply infinite scroll */
.animate-marquee {
  display: flex;
  animation: marquee 30s linear infinite;
}

/* Pause on hover */
.hover\:pause-marquee:hover {
  animation-play-state: paused;
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 20s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
